@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 25px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7b838a;
}
button,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #002347;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
ul,
li {
  list-style: none;
}
body.lock {
  overflow: hidden;
}
.container {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}
.main__title {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .main__title {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .main__title {
    font-size: 20px;
  }
}
/* header */
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.header__body {
  display: flex;
  height: 80px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 30;
}
.header__menu {
}
.menu {
  display: flex;
  flex: 0 1 100%;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 1);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__list {
    flex-direction: column;
  }
}
.menu__body.active {
  left: 0;
}
.menu__list {
  display: flex;
  gap: 30px;
}

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    gap: 30px;
  }
}
.menu__list.active {
  display: flex;
  flex-direction: column;
}
.menu__item button {
  transition: color 0.3s ease 0s;
}
.menu__item:hover button {
  color: #fdc632;
}
.menu__link {
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #fdc632;
}
.menu__icon {
  display: none;
  position: relative;
  min-width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 15;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
  }
}
.menu__icon span,
.menu__icon::after,
.menu__icon::before {
  left: 0;
  position: absolute;
  height: 10%;
  min-width: 100%;
  transition: all 0.3s ease 0s;
  background: #fdc632;
}
.menu__icon::after,
.menu__icon::before {
  content: "";
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon::before {
  top: 0;
}
.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu__icon.active span {
  transform: scale(0) translate(0px, 50%);
}
.menu__icon.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.menu__icon.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.icon-menu {
}

/* home */
.home__banner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__inner {
}

.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.home__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.home__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.home__link {
  display: inline-block;
  white-space: nowrap;
  padding: 0px 48px;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 425px) {
  .home__links {
  }
}
.home__link:nth-child(1) {
  background: #002347;
  color: #fdc632;
  border: 1px solid transparent;
}
.home__link:nth-child(2) {
  background: rgb(253, 198, 50);
  color: rgb(0, 35, 71);
}
.home__link:nth-child(1):hover {
  background: transparent;
  color: #002347;
  border: 1px solid #002347;
}
.home__link:nth-child(2):hover {
  background: #002347;
  color: #fdc632;
}
/*features ======================================================================================================================================================== */
.features {
  padding-top: 50px;
}
.features__top {
  text-align: center;
  margin-bottom: 40px;
}
.features__title {
  margin-bottom: 15px;
}
.features__text {
  font-style: italic;
}
.features__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.features__item {
  position: relative;
  background: #f9f9ff;
  padding: 40px 36px;
}
.features__item:hover {
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
}
.feature-item {
}
.feature-item__icon {
}
.flaticon-student {
}
.feature-item__description {
}
.feature-item__title {
}
.feature-item__text {
}
.flaticon-book {
}
.flaticon-earth {
}
/* courses */
.courses {
  padding-top: 130px;
  padding-bottom: 130px;
}
.courses__body {
}
.courses__top {
  margin-bottom: 50px;
  text-align: center;
}
.courses__title {
}
.courses__text {
}
.courses__slider {
}
.swiper {
}
.courses__wrapper {
}
.swiper-wrapper {
}
.courses__slide {
}
.swiper-slide {
}
.courses__item {
}
.courses__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses__item:hover .courses__name a {
  color: #fdc632;
}
.courses__item:hover .courses__name a {
  color: #fdc632;
}
.courses__item:hover .courses__price {
  background: #002347;
  color: #fdc632;
}
.courses__content {
  background: #f9f9ff;
  position: relative;
  padding: 15px;
  transition: all 0.3s ease 0s;
}
.courses__content:hover {
  background: #fff;
}
.courses__price {
  position: absolute;
  top: -12%;
  right: 10%;
  width: 50px;
  height: 50px;
  background: #fdc632;
  color: #002347;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.courses__type {
  padding: 10px 20px;
  background: #002347;
  color: #fff;
}
.courses__name {
  margin-top: 20px;
}
.courses__name a {
  color: #002347;
}
.courses__description {
}
.courses__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__auth {
  display: flex;
  align-items: center;
  gap: 10px;
}
.courses__meta {
  display: flex;
  gap: 10px;
}
.courses__data i,
a {
  color: #002347;
}
.swiper-pagination {
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #002347;
  opacity: 0.5;
  margin: 0 5px;
  cursor: pointer;
}

/* Customize the active bullet */
.swiper-pagination-bullet-active {
  background-color: #fdc632;
  opacity: 1;
}
/* register */
.register {
  background: #002347;
}
.register__body {
  padding-top: 130px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
  align-content: center;
}
@media (max-width: 992px) {
  .register__body {
    grid-template-columns: 1fr;
  }
}
.register__count {
}
.register-count {
}
.register-count__top {
  margin-bottom: 30px;
}
.register-count__title {
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
}

.register-count__text {
  color: #fff;
}
@media (max-width: 992px) {
  .register-count__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .register-count__title {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .register-count__title {
    font-size: 20px;
  }
  .register-count__text {
    font-size: 14px;
  }
}
.register-count__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.register-count__item {
  background: #334f6c;
  padding: 35px 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
.register-count__number {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}
.register-count__number span {
  font-size: 18px;
}
.register__form {
}
.register-form {
}
.register-form__inner {
  background: #fff;
  text-align: center;
  padding: 40px;
}
.register-form__title {
}
.register-form__text {
}
.register-form__form {
}
.register-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding: 12px;
}
.register-form__button {
  width: 100%;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  background: #fdc632;
  color: #002347;
  padding: 0px 48px;
  line-height: 48px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.register-form__button:hover {
  background: #002347;
  color: #fdc632;
}

.trainer {
  padding-top: 130px;
}
.trainer__top {
  text-align: center;
  margin-bottom: 40px;
}
.trainer__title {
}
.trainer__text {
}
.trainer__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.trainer__item {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
  transition: all 0.3s ease 0s;
}
.trainer__item:hover {
  box-shadow: 0px 0px 40px rgba(63, 63, 63, 0.13);
}
.trainer__img {
  margin-bottom: 15px;
}
.trainer__name {
  font-size: 20px;
  margin-bottom: 0px;
}
.trainer__position {
  font-size: 14px;
  margin-bottom: 30px;
}
.trainer__desc {
  margin-bottom: 15px;
}
.trainer__social {
  display: flex;
  gap: 15px;
}
.trainer__link {
  font-size: 14px;
  color: #cccc;
  transition: all 0.3s ease 0s;
}
.trainer__link:hover {
  color: #fdc632;
}

.events {
  margin-top: 130px;
  background: #002347;
  color: #fff;
}
.events__body {
  padding-top: 130px;
  padding-bottom: 80px;
}
.events__top {
  text-align: center;
  margin-bottom: 60px;
}
.events__title {
  color: #fff;
}
.events__text {
  font-style: italic;
}
.events__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .events__items {
    grid-template-columns: 1fr;
  }
}
.events__item {
}
.events__image {
  position: relative;
}
.events__image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.events__details {
  background: rgba(0, 35, 71, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 275px;
  padding: 30px 25px;
  color: #ffffff;
}
@media (max-width: 425px) {
  .events__details {
    padding: 25px 15px;
    width: 270px;
  }
}
.events__row {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}
.events__date {
  color: #fdc632;
  font-weight: 700;
  font-size: 18px;
  padding-right: 15px;
  border-right: 2px solid #fff;
}
.events__date span {
  color: #fff;
  font-size: 14px;
}
.events__info {
  font-size: 14px;
}
.event__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.event__location {
}
.events__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.events__description {
}
.events__button {
  text-align: center;
  /* width: 100%; */
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  background: #fdc632;
  color: #002347;
  padding: 16px 48px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.events__button:hover {
  background: #002347;
  color: #fdc632;
}
.events__link-box {
  margin-top: 30px;
  text-align: center;
}
.events__link {
  color: #fdc632;
  font-size: 13px;
  text-transform: uppercase;
}

.testimonials {
  padding-top: 130px;
  padding-bottom: 120px;
}
.testimonials__top {
  text-align: center;
  margin-bottom: 50px;
}
.testimonials__title {
}
.testimonials__text {
}
.testimonials__slider {
  padding: 20px 0;
}
.testimonials__wrapper {
}
.swiper-wrapper {
}
.testimonials__slide {
}
.swiper-slide {
}
.testimonials__item {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
  transition: all 0.3s ease 0s;
}
.testimonials__item:hover {
  box-shadow: 0px 0px 30px rgba(49, 49, 49, 0.13);
}
.testimonials__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials__image {
  margin-bottom: 15px;
}
.testimonials__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .testimonials__image {
    width: 300px;
    height: 300px;
  }
}
.testimonials__content {
  text-align: center;
}
.swiper-button-prev {
  color: rgb(253, 198, 50);
}
.swiper-button-next {
  color: rgb(253, 198, 50);
}

.footer {
  color: #fff;
  background: #002347;
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 50px 0px 25px 0px;
}
@media (max-width: 992px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
}
.footer__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 425px) {
  .footer__items {
    flex-direction: column;
  }
}
.footer__item {
}
.footer__title {
  color: #7b838a;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__list li a {
  color: #fff;
}
.footer__list li a:hover {
  color: #fdc632;
}
.footer__newslatter {
  padding-right: 15px;
}
.footer__newslatter p {
  margin-bottom: 5px;
}
.footer__wrap {
}
.footer__form {
  display: flex;
}
.form__input {
  width: 100%;
  background: #fff;
  color: #002347;
  height: 50px;
  padding: 0 15px;
}
@media (max-width: 992px) {
  .footer__input {
    max-width: 300px;
  }
}
.footer__button {
  height: 50px;
  padding: 0 15px;
  background: #fdc632;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.footer__text {
}
.footer__social {
  display: flex;
  gap: 15px;
}
.footer__social a {
  color: #ccc;
}
.footer__social a:hover {
  color: #fdc632;
}
